<main class="main-box container">
	<h1>My Recipes</h1>
	<hr>
	<button (click)="toggleReordering()">Reorder</button>
	<table class="table" matSort (matSortChange)="sortChanged($event)">
		<thead>
			<tr>
				<th class="deco"></th>
				<th class="small-col" mat-sort-header="priority">##</th>
				<th mat-sort-header="name">Name</th>
				<th mat-sort-header="calories">Calories</th>
				<th mat-sort-header="carbs">Carbs</th>
				<th class="small-col"></th>
				<th class="small-col"></th>
			</tr>
		</thead>
		<tbody cdkDropList (cdkDropListDropped)="dropped($event)" [cdkDropListDisabled]="!reordering">
			@for(r of sortedRecipes; track r){
				<tr class="result" cdkDrag>
					<td class="deco">&#xF231;</td>
					<td class="small-col">{{r.priority}}</td>
					<td routerLink="/Recipe/{{r.id}}">{{r.name}}</td>
					<td routerLink="/Recipe/{{r.id}}">{{r.calories}}</td>
					<td routerLink="/Recipe/{{r.id}}">{{r.carbs}}</td>
					<td class="small-col">
						<a class="edit icon" [routerLink]="getEditLink(r.id)">&#xF4C9;</a>
					</td>
					<td class="small-col">
						<button type="button" class="btn btn-outline-danger icon" (click)="removeRecipe(r.id)">&#xF5DE;</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</main>