.result {
	cursor: pointer;
	margin: 0px;
	color: inherit;
	text-decoration: none;
}
.result td {
	background: none;
	vertical-align: middle;
	transition: color .25s;
}

.result:hover td{
	color: #2b3;
}

.deco {
	width: 1em;
}

.result .deco{
	font-family: 'bootstrap-icons';
	line-height: 0;
	font-size: 1.5em;
	vertical-align: middle;
	opacity: 0;
	transform: translate(-.5em, 50%);
	transition: transform .25s, opacity .25s;
	display:inline-block;
	color: #2b3;
	margin-left: -.5em;
	border: none;
}

.result:hover .deco {
	transform: translate(0em, 50%);
	opacity: 1;
}

.result:nth-child(odd) {
	background-color: #eee;
}

.edit {
	color: inherit;
	text-decoration: none;
	transition: color .25s;
}

.edit:hover {
	color: unset;
}

.buttons {
	display: flex;
	gap: .5rem;
}