app-search-ingredients {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 50;
	background-color: #0006;
	padding-top: 5rem;
	opacity: 1;
	transition: opacity .25s;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}