<header class="no-print">
	<button class="icon small-only btn btn-primary btn-pulse" id="menu" (click)="displayDropdown = !displayDropdown">&#xF479;</button>
	<nav [class.open]="displayDropdown">
		<a routerLink="/" class="home big-only">Satiety</a>
		<a class="small-only" routerLink="/">Home</a>
		<a routerLink="/Search">Search</a>
		@if (isLoggedIn()) {
			<a routerLink="/Recipe">Add Recipe</a>
			<a routerLink="/MyRecipes">My Recipes</a>
			<a routerLink="/MyAccount">My Account</a>
			<a (click)="logout()" class="small-only">Logout</a>
		}
	</nav>
	<div class="login big-only">
		@if (isLoggedIn()) {
			<button class="btn btn-outline-primary" (click)="logout()">
				<span>&lt; Logout</span>
			</button>
		} @else {
			<button class="btn btn-primary" (click)="toggleLogin()">
				Login
			</button>
		}
		<app-login [class.visible]="loginVisible()" />
	</div>
</header>
<div id="content">
	<router-outlet></router-outlet>
</div>
<footer>&copy; Martina Basquez, Wren Grasley, Joseph Molinski 2024</footer>