header {
	position: sticky;
	top: 0px;
	background-color: #fff;
	padding: 0px .5rem;
	display: flex;
	gap: .5rem;
	z-index: 100;
}

header::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0px;
	right: 0px;
	height: 1rem;
	background: linear-gradient(to bottom, rgba(0, 65, 14, 0.3), rgba(0, 65, 14, 0));
}

nav .home {
	font-family: "Shrikhand", serif;
	color: #4d5;
	text-decoration: none;
	font-size: 2.2rem;
	padding:0px .25rem;
	border:none;
}

nav {
	flex-grow: 1;
	font-size: 1.1em;
	display: flex;
}

nav a {
	padding: .5rem .25rem;
	text-decoration: none;
	color: black;
	border-color: transparent;
	border-style: solid;
	border-width: .375rem 0px;
	transition: border-bottom-color .25s, background-color .25s;
	background-color: #fff;
	line-height: 1.5;
	display: inline-block;
}

nav a:hover {
	border-bottom-color: #4d5;
	background-color: #eee;
}

button {
	margin: .5rem 0px;
}

:host {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

footer {
	background-color: #fff;
	font-size: .75rem;
	font-style: italic;
}