<header>
	<nav>
		<a routerLink="/" class="home">Satiety</a>
		@if (isLoggedIn()) {
			<a routerLink="/Recipe">Add Recipe</a>
			<a routerLink="/MyRecipes">My Recipes</a>
			<a routerLink="/MyAccount">My Account</a>
		}
	</nav>
	<a routerLink="/Login" class="login"><button class="btn btn-primary">Login</button></a>
	<a routerLink="/Register" class="register"><button class="btn btn-primary">Register</button></a>
</header>
<div id="content">
	<router-outlet></router-outlet>
</div>
<footer>&copy; Martina Basquez, Wren Grasley, Joseph Molinski 2024</footer>