<header class="no-print">
	<nav>
		<a routerLink="/" class="home">Satiety</a>
		<a routerLink="/Search">Search</a>
		@if (isLoggedIn()) {
			<a routerLink="/Recipe">Add Recipe</a>
			<a routerLink="/MyRecipes">My Recipes</a>
			<a routerLink="/MyAccount">My Account</a>
		}
	</nav>
	<div class="login">
		@if (isLoggedIn()) {
			<button class="btn btn-outline-primary" (click)="logout()">
				<span>&lt; Logout</span>
			</button>
		} @else {
			<button class="btn btn-primary" (click)="toggleLogin()">
				Login
			</button>
		}
		<app-login [class.visible]="loginVisible()" />
	</div>
</header>
<div id="content">
	<router-outlet></router-outlet>
</div>
<footer>&copy; Martina Basquez, Wren Grasley, Joseph Molinski 2024</footer>