<main class="container main-box">
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Shrikhand&display=swap" rel="stylesheet">
    <h1 style="text-align: center;">Meet the happy tummies at satiety.</h1>
    <div class="team">
        <img src="images/wren.png" width="300" height="300" id="wren">
        <img src="images/joey.png" width="300" height="300" id="joey">
        <img src="images/martittie.png" width="300" height="300" id="martittie">
    </div>
    <p style="text-align:justify;">
        "Looking at nutritional values of food has many important benefits. As a parent to a diabetic stepson it is imperative that I pay attention to these labels especially carbs, since carbs directly correlate to the amount of insulin a diabetic needs to help their body properly process those carbs. Instead of doing hand calculations, keeping pieces of paper with recipes, and doing long hand math. This app will find, save, and build recipes while also calculating the carb to insulin ratio saving time and effort to make meal time less of a hassle."
    </p>
    <p style="text-align:justify;">
        It was a no-brainer that we wanted execute this project because it has a plethora of use cases as well as it being near and dear to all three of us. We wanted to create a platform that had a seamless user experience without losing creativity. What we offer is a clean and concise way of creating recipes and displaying its nutritional value. It can be tailored to the users’ needs or go as broad as a being a search tool for your everyday food needs. 
    </p>
    <p style="text-align:justify;">
        We hope you enjoy our website just as much as we enjoyed creating it. 
    </p>
</main>
