<main class="container main-box">
	<h1 class="spread">
		<span>{{recipe.name}}</span>
		<div class="tools no-print">
			<button class="btn btn-outline-primary icon" (click)="printMe()">&#xF501;</button>
			<button class="btn btn-outline-danger icon" (click)="deleteRecipe()">&#xF5DE;</button>
		</div>
	</h1>
	<h2><span>{{recipe.servings}}</span> Servings</h2>
	<hr>
	<h3>Ingredients</h3>
	<table class="table">
		<thead>
			<tr>
				<td>Name</td>
				<td>Amount</td>
				<td class="small-col"></td>
			</tr>
		</thead>
		<tbody>
			@for (ingredients of recipe.recipeIngredients; track $index) {
				<tr>
					<td>{{capitalize(ingredients.name)}}</td>
					<td><span>{{ingredients.amount}}</span>&nbsp;<span>{{ingredients.unit}}</span></td>
					<td class="small-col"><a class="icon no-print" routerLink="/Ingredient/{{ingredients.productId}}">&#xF431;</a></td>
				</tr>
			}
		</tbody>
	</table>
	@if (user.diabetic) {
		<div class="split-even no-print">
			<div class="input-group">
				<span class="input-group-text">Blood Glucose: </span>
				<input type="number" class="form-control" [(ngModel)]="bloodGlucose" name="glucose" (change)="updateInsulinDose()"/>
				<span class="input-group-text">ml</span>
			</div>
			<p class="button-size">{{insulinPerServing | number : '1.1-2'}} ml insulin required</p>
		</div>
	}
</main>