<main class="container main-box">
	<h1>Search</h1>
	<hr>
	<div class="split-even">
		<div class="tab">
			<input type="radio" name="searchtab" [checked]="!recipeSearch" id="searchtab-ingredients" (change)="recipeSearch = false" />
			<label for="searchtab-ingredients">Ingredients</label>
		</div>
		<div class="tab">
			<input disabled type="radio" name="searchtab" id="searchtab-recipes" [checked]="recipeSearch" (change)="recipeSearch = true" />
			<label for="searchtab-recipes">Recipes</label>
		</div>
	</div>
	@if (!recipeSearch) {
		<form>
			<div class="input-group">
				<input type="text" [(ngModel)]="searchTerm" name="ingredientSearch" 
				id="i-ingredientSearch" class="form-control"/>
				<button class="btn btn-primary" (click)="updateSearch()">Search</button>
			</div>
		</form>
		<app-search-ingredients [search]="submittedSearch" (selected)="goToPage($event)" [embedded]="true" />
	}
</main>